.customButton {
  width: 2rem;
  padding: 0 1rem 0 1rem;
  border-radius: 0.2rem;
  height: 2rem;
  background: linear-gradient(262.71deg, #00d1ff -30.04%, #00ffa3 124.74%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
