@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(259.93deg, #000000 -41.68%, #00232e 146.85%);
  color: #fff;
  min-height: 100vh;
}
